[submodule "foundry/simple-storage/lib/forge-std"]
	path = foundry/simple-storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/foundry-fund-me/lib/forge-std"]
	path = foundry/foundry-fund-me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/foundry-fund-me/lib/chainlink-brownie-contracts"]
	path = foundry/foundry-fund-me/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry/SimpleBank/lib/forge-std"]
	path = foundry/SimpleBank/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
